<section class="section">
    <div class="container">
      <h1 class="title">Source of Information</h1>
      <h2 class="subtitle">
        Movie recommendations are based on <a href="https://www.the-numbers.com/">www.the-numbers.com</a>.<br> Further data on the suggested movies has been retrieved from: <a href="www.omdbapi.com">www.omdbapi.com</a>.
      </h2>
    </div>
</section>
<section class="section">
    <div class="container">
      <h1 class="title"></h1>
      <h2 class="subtitle"></h2>
    </div>
</section>
<section class="section">
    <div class="container">
      <h1 class="title"></h1>
      <h2 class="subtitle"></h2>
    </div>
</section>
<section class="section">
    <div class="container">
      <h1 class="title"></h1>
      <h2 class="subtitle"></h2>
    </div>
</section>