<section class="hero is-bold is-info" style="min-height: 500px;">
    <div class="container" style="margin-left: 30px; margin-top: 30px;">
      <h1 class="title">Source of Information</h1>
      <h2 class="subtitle">
        Movie recommendations are based on <a href="https://www.themoviedb.org/">www.themoviedb.org</a>.<br> The logo has been built using an icon of: <a href="http://www.flaticon.com">www.flaticon.com</a>.
      </h2>
    </div>
</section>
